<h1>Edit Wiki</h1>
<div class="row">
  <div class="span12">
    <%= form_for @wiki, html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :body, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 10 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
      <%= form_for @wiki do |f| %>
      <table>
          <h5>Add collaborators</h5>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Give Access</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td>
                  <%= label_tag 'user_ids[]', user.name %>
                </td>
                <td>
                  <%= label_tag 'user_ids[]', user.email %>
                </td>
                <td>
                  <%= check_box_tag 'user_ids[]', user.id %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
      </table>
      <%= f.submit "Save Collaborators", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>