<h1>New Wiki</h1>

<div class="row">
  <% if signed_in? %>
    <div class="span12">
      <%= form_for @wiki, html: { class: 'form-horizontal' } do |f| %>
        <div class="control-group">
          <%= f.label :title, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :body, class: 'control-label' %>
          <div class="controls">
            <%= f.text_area :body, rows: 8 %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Save", class: 'btn' %>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
  <p><%= link_to "Sign Up", new_user_registration_path %> to create your own wikis!</p>
  <% end %>
</div>